@model List<WooComerce.Models.ProdutoViewModel>
@{
    ViewData["Title"] = "Catalogo";
}
<div class="divisor"></div>
<div class="divisor"></div>
<h1 style="text-align: center;">@ViewData["Title"]</h1>

<div class="container">



    <!-- Wrapper for slides -->
    <div class="col-lg-12 container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="item-produto col-md-3 col-sm-3 col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="img-produto-carrossel" src="/images/produtos/large_@(item.Codigo).jpg" />
                        </div>
                        <div class="panel-footer produto-footer">
                            <div class="produto-nome">@item.Nome</div>
                            <div><h4><strong>@item.Preco.ToString("C")</strong></h4></div>
                            <div class="right">
                                <a asp-route-codigo="@item.Codigo" asp-controller="Pedidos" asp-action="Carrinho" class="btn btn-success">Adicionar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>