@{
    ViewData["Title"] = "Contato";
}
<link href="~/css/contato.css" rel="stylesheet" />
<div class="divisor"></div>
<div class="divisor"></div>

<div class="container-body">
    <h1>@ViewData["Title"]</h1>

    <div class="panel panel-default">
        <h1 style="text-align: center">Nome da Empresa</h1></br>
        <h2 style="text-align: center">&#9993;email-da-empresa@empresa.com.br</h2></br>
        <h2 style="text-align: center">&#9990;(11) 95555 5555</h2>
        <h2 style="text-align: center"></h2>

    </div>
</div>



<div class="divisor"></div>
