@{
    ViewData["Title"] = "Home Page";
}
<div class="slide">
    
</div>
<div class="divisor"></div>
<div class="divisor"></div>
<div class="divisor"></div>
<div class="divisor"></div>
<div class="divisor"></div>
<div class="divisor"></div>
