*{
    margin: 0px;
    padding: 0px;
    color: #FFF;
}

body {
    background-color: #2d3c44;
}
._body {
    width: 100%;
    height: auto;
}
.container-body {
    width: 96%;
    margin: auto;
}
.mobile {
    /*display: none;*/
}

/*######################### MENU ##############################*/
.container-menu {
    width: 100%;
}
.navbar {
    z-index: 99999;
    position: fixed !important;
    top: 0px !important;
    width: 100% !important;
    background-color: rgba(0,0,0,.5) !important;
    border: none !important;
}

.navbar-brand {
    background: url('../images/logo.png') no-repeat;
    background-size: 80%;
    background-position: 50%;
    width: 180px;
    height: 55px;
    float: left;
}

.navbar-toggler {
    position: absolute !important;
    top: 10px;
    right: 10px;
    outline: none !important;
    border-radius: 2px !important;
    border: none;
    margin-right: 5px;
    color: #fff !important;
}
.navbar-toggler-icon {
    color: #FFF;
}

.space-menu {
    display: none;
}
.navbar-collapse {
    float: right;
}
.nav-link {
    font-size: 10px;
    color: #fff !important;
    transition: .4s linear;
    padding: 10px 24px;
}
.nav-item {
    transition: .3s;
    padding: 5px 12px;
}
.nav-item:hover {
    background-color: rgba(0,0,0,.1);
}

.mobile {
    display: inline-block;
    margin-right: 10px;
}
@media screen (amx-width: 1200px) {
    .slide {
        width: 100%;
        height: 100vh !important;
        background: url('../images/home-mobile.jpg') no-repeat !important;
        background-size: 100% !important;
        background-position: 50% !important;
    }
}
@media screen and (max-width: 991px) {
    .navbar {
        position: absolute !important;
    }
    .navbar-brand {
        float: none;
    }
    .navbar-collapse {
        float: none;
    }
    .nav-item {
        transition: .3s;
        padding: 0px 5px;
    }
    .nav-link {
        font-size: 20px;
        color: #eaefef !important;
        padding: 24px 48px !important;
    }
    .space-menu {
        display: block;
        height: 20px;
        opacity: 0;
    }
    .slide {
        width: 100%;
        height: 100vh !important;
        background: url('../images/home-mobile.jpg') no-repeat !important;
        background-size: 100% !important;
        background-position: 50% !important;
    }
}

@media screen and (max-width: 575px) {

    .navbar {
        position: absolute !important;
    }
    .navbar-brand {
        float: none;
    }
    .navbar-collapse {
        float: none;
    }
    .nav-item {
        transition: .3s;
        padding: 0px 5px;
    }
    .nav-link {
        font-size: 16px;
        color: #eaefef !important;
        font-weight: bold;
        padding: 20px 40px !important;
    }

    .space-menu {
        display: block;
        height: 20px;
        opacity: 0;
    }
    .slide {
        width: 100%;
        height: 100vh !important;
        background: url('../images/home-mobile.jpg') no-repeat !important;
        background-size: 100% !important;
        background-position: 50% !important;
    }
}



/*########################## FIM MANU ##############################*/
/*##################################################################*/

.slide {
    width: 100%;
    height: 100vh !important;
    background-image: url('../images/home01.jpg');
    background-size: 120% !important;
    background-position: 50% !important;
}

/*############################ SEARCH AREA ###############################*/
.form-search {
    margin: 0px !important; 
    padding: 0px !important;
}
.search-area {
    z-index: 0;
    position: absolute;
    width: 45%;
    top: 100px;
    right: 20px;
    border: 1px solid rgba(255,255,255,.2) !important;
    border-radius: 2px;
    margin: 0px !important;
    padding: 0px !important;
    background-image: linear-gradient(45deg, rgba(0,0,0,.2), rgba(255,255,255,.1));
    transition: .3s;
}

.search-btn {
    width: 10%;
    float: right !important;
}

.search-input {
    width: 90%;
}
@media screen and (max-width: 991px) {
    .search-area {
        width: 90%;
        margin: 5% !important;
        position: initial;
        border: none !important;
        border-bottom: 1px solid rgba(255,255,255,.6) !important;
        background-color: rgba(0,0,0,.0) !important;
    }
    .search-btn {
        float: right;
    }
}

/*############################ SEARCH AREA ###############################*/
/*######################################################################*/


/*########################## CONTAINERS E ELEMENTOS #########################*/
/*############################################################################*/

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #2f3c3c;
}



/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 900px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.left.carousel-control,
.right.carousel-control {
    background-image: none;
    margin-bottom: 100px;
}

.navbar-inverse {
    background-color: #e2e2e2;
    border-color: white;
}

.row-center {
    display: flex;
    align-items: center;
}

/*########################## FINAL CONTAINERS E ELEMENTOS #########################*/


/*############################# RODAPÉ ############################*/

.footer {
    margin: 0px !important;
    padding: 0px !important;
    display: inline-block;
    background-color: #2f3c3c;
    width: 100%;
}

.title-footer {
    font-size: 16px;
    color: #fff !important;
    font-weight: bold;
    padding: 10px 20px !important;
}
.subtitle-footer {
    font-size: 14px;
    color: #d8d8dd !important;
}
.menu-rodape {
    list-style: none;
}
.menu-rodape li{
    margin: 10px;
}
.menu-rodape li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
    color: #d8d8dd;
}

#scrolling-top {
    z-index: 999999;
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    width: none !important;
    border-radius: 2px;
    border: none !important;
    background-color: #2d2d32 !important;
    padding: 8px 12px;
    outline: none;
}
/*###########################  FIM RODAAPÉ  ##############################*/
/*######################### GENERIC ###################################*/
.divisor {
    width: 100%;
    height: 50px;
}
.btn-rodape {
    padding: 10px 28px;
    color: #FFF;
    background-color: #35707f;
    margin: 10px 0px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
}
.btn-rodape:hover {
    color: azure;
}
.input {
    width: 100% !important;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: rgba(0,0,0,.0);
    border: 1px solid #d8d8dd;
    color: #fff;
}
.select-input {
    width: 100% !important;
    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid #d8d8dd;
    color: #d8d8dd !important;
    background-color: rgba(0,0,0,.0);
}
select-input option {
    color: #d8d8dd!important;
}

.left {
    float: left;
}
.right {
     float: right;
}
.center {
    text-align: center;
    margin: auto;
}
.b-none {
    border: none !important;
}
.b-top {
    border-top: 1px solid rgba(0,0,0,.3);
}
.b-left {
    border-left: 1px solid rgba(0,0,0,.3);
}
.b-bottom {
    border-bottom: 1px solid rgba(0,0,0,.3);
}
.b-right {
    border-right: 1px solid rgba(0,0,0,.3);
}
.defaul-style {
    outline: none !important;
}
.super-title {
    /*text-align: center;*/
    margin-left: 25px;
    margin-bottom: 30px;
}
.sizing-default {
    margin: 0px !important;
    padding: 0px !important;
}
