*{
    margin: 0px;
    padding: 0px;
}
._body {
    width: 100%;
    height: auto;
}
body {
    background-color: #d0dfe3;
}
.mobile {
    /*display: none;*/
}

/*######################### MENU ##############################*/
.container-menu {
    width: 100%;
}
.navbar {
    z-index: 99999;
    position: fixed !important;
    top: 0px !important;
    width: 100% !important;
    background-color: rgba(0,0,0,.4) !important;
    border: none !important;
}

.navbar-brand {
    background: url('../images/logo.png') no-repeat;
    background-size: 80%;
    background-position: 50%;
    width: 180px;
    height: 55px;
    float: left;
}

.navbar-toggler {
    position: absolute !important;
    top: 10px;
    right: 10px;
    outline: none !important;
    border-radius: 2px !important;
    border: none;
    margin-right: 5px;
    color: #fff !important;
}

.space-menu {
    display: none;
}
.navbar-collapse {
    float: right;
}
.nav-link {
    font-size: 10px;
    color: #fff !important;
    transition: .4s linear;
    padding: 10px 24px;
}
.nav-item {
    transition: .3s;
    padding: 5px 12px;
}
.nav-item:hover {
    background-color: rgba(0,0,0,.1);
}

.mobile {
    display: inline-block;
    margin-right: 10px;
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        float: none;
    }
    .navbar-collapse {
        float: none;
    }
    .nav-item {
        transition: .3s;
        padding: 0px 5px;
    }
    .nav-link {
        font-size: 20px;
        color: #eaefef !important;
        padding: 24px 48px !important;
    }
    .space-menu {
        display: block;
        height: 20px;
        opacity: 0;
    }
    .slide {
        width: 100%;
        height: 1200px;
        background: url('../images/home01.jpg') no-repeat;
        background-size: 100%;
        background-position: 50%;
    }
}

@media screen and (max-width: 575px) {
    .navbar-brand {
        float: none;
    }
    .navbar-collapse {
        float: none;
    }
    .nav-item {
        transition: .3s;
        padding: 0px 5px;
    }
    .nav-link {
        font-size: 16px;
        color: #eaefef !important;
        font-weight: bold;
        padding: 20px 40px !important;
    }

    .space-menu {
        display: block;
        height: 20px;
        opacity: 0;
    }
    .slide {
        width: 100%;
        height: 1400px;
        background: url('../images/home01.jpg') no-repeat;
        background-size: 100%;
    }
}


/*########################## FIM MANU ##############################*/
/*##################################################################*/

.slide {
    width: 100%;
    height: 640px;
    background: url('../images/home01.jpg') no-repeat;
    background-size: 100%;
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #2f3c3c;
    /*border-color: #1861ac;*/
}



/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 900px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.left.carousel-control,
.right.carousel-control {
    background-image: none;
    margin-bottom: 100px;
}

.navbar-inverse {
    background-color: #e2e2e2;
    border-color: white;
}

.row-center {
    display: flex;
    align-items: center;
}

.item-produto {
    margin-bottom: 20px;
}
.img-produto-carrossel {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
}

.img-produto-carrinho {
    height: 120px;
    filter: drop-shadow(2px 2px 2px #ccc);
    border-radius: 5px;
}

.button-carrinho {
    padding: 20px;
}

.linha-produto {
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 20px;
}

.produto-nome {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.produto-footer {
    max-height: 140px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.pull-right {
    margin-top: 10px;
}

.right {
     float: right;
}


/*############################# RODAPÉ ############################*/

.footer {
    display: inline-block;
    background-color: #2f3c3c;
    width: 100%;
}

.title-footer {
    font-size: 16px;
    color: #fff !important;
    font-weight: bold;
    padding: 10px 20px !important;
}
.subtitle-footer {
    font-size: 14px;
    color: #d8d8dd !important;
}
.menu-rodape {
    list-style: none;
}
.menu-rodape li{
    margin: 10px;
}
.menu-rodape li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
    color: #d8d8dd;
}
/*###########################  FIM RODAAPÉ  ##############################*/



/*######################### GENERIC ###################################*/
.divisor {
    width: 100%;
    height: 50px;
}
.btn-rodape {
    padding: 10px 28px;
    color: #FFF;
    background-color: #35707f;
    margin: 10px 0px;
    border: none;
    border-radius: 2px;
}
.btn-rodape:hover {
    color: azure;
}
.input {
    width: 100% !important;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: rgba(0,0,0,.0);
    border: 1px solid #d8d8dd;
    color: #fff;
}
